#shape {
    height: 200px;
    width: 200px;
    background-color: #FF0000;
    display: none;
    position: relative;
}

body {
    font-family: sans-serif;
}

.bold {
    font-weight: bold;
}

.time-text {
    text-decoration: underline;
}